*~
*.pyc
*#

*.ipynb_checkpoints*
__pycache__

python/scripy/*
!python/scripy/__init__.py

private/*
!private/.gitkeep

results/*
!results/.gitkeep
!results/debug/grids

.submitlog
shell/system.sh

arepo/*