*~
*.pyc
*#

*.ipynb_checkpoints*
__pycache__

private/*
!private/.gitkeep

python/scripy/*
!python/scripy/.gitkeep
!python/scripy/__init__.py

results/*
!results/.gitkeep

.submitlog
shell/run.system.sh